# Bytes
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
peppo/

# Environment Variables
.env

# Data
data/
*.csv
*.xlsx
*.bin
*.log
benchmark_report_*.txt

# IDE
.vscode/
.idea/

gcp-key.json
